{% extends "blog/base.html" %}

{% block content %}
    {% for mypost in posts %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ mypost.author }}</a>
                <small class="text-muted">{{ mypost.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ mypost.title }}</a></h2>
            <p class="article-content">{{ mypost.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content%}